<div class="container">
  <div class="row">

    <div class="main">

      <h3>Connexion OU S'inscrire</h3>

      <form role="form">
        <div class="form-group">
          <label for="inputUsernameEmail">Nom d'utilisateur ou E-mail</label>
          <input type="text" class="form-control" id="inputUsernameEmail">
        </div>
        <div class="form-group">
          <label for="inputPassword">Mot de passe</label>
          <input type="password" class="form-control" id="inputPassword">
		            <a class="pull-right" href="#">Mot de passe oublié?</a>

        </div>
        <button type="submit" class="btn btn btn-primary">
          CONNEXION
        </button>
		      <div class="login-or">
        <hr class="hr-or">
	  </div>
		      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
        </div>
      </div>
	  
      </form>
    
    </div>
    
  </div>
</div>